<style>
  .ssm-filtertable-panel-search-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .ssm-filtertable-panel-search-input .form-control {
    display: block;
    max-width: 370px;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }

  .ssm-filtertable-panel-sort-icon {
    display: inline-block;
    line-height: 0;
  }
</style>
<div class="ssm-filtertable-panel-search-input">
  <input class="form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Filter by {{ctrl.panel.filterKey}}, split by comma" ng-model="ctrl.filterValue" ng-change="ctrl.refresh()" />
</div>
<div class="table-panel-container">
  <div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
  <div class="table-panel-scroll" ng-show="ctrl.table.rows.length" style="max-height: 193px;">
    <table class="table-panel-table">
      <thead>
        <tr>
          <th ng-repeat="col in ctrl.table.columns" ng-if="!col.hidden">
            <div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
              {{ col.text }}
              <span class="table-panel-table-header-controls" ng-if="ctrl.sortColumn === $index">
                <icon name="'angle-down'" ng-show="ctrl.sortDesc" class="ng-hide">
                  <div class="ssm-filtertable-panel-sort-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" class="css-eyx4do"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path>
                    </svg>
                  </div>
                </icon>
                <icon name="'angle-up'" ng-hide="ctrl.sortDesc">
                  <div class="ssm-filtertable-panel-sort-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" class="css-eyx4do"><path d="M17,13.41,12.71,9.17a1,1,0,0,0-1.42,0L7.05,13.41a1,1,0,0,0,0,1.42,1,1,0,0,0,1.41,0L12,11.29l3.54,3.54a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29A1,1,0,0,0,17,13.41Z"></path>
                    </svg>
                  </div>
                </icon>
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in ctrl.table.rows">
          <td ng-repeat="val in row">
            <div class="table-panel-width-hack">{{ ctrl.table.columns[$index].text }}</div>
            {{ val }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
